
    <!doctype html>
    <html lang="en">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
      
        <title> FOUND EASILY </title>

        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}" />
  
        <script src="{{ asset('js/jquery-3.2.1.slim.min.js') }}"></script>
        <script src="{{ asset('js/popper.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/app_javascript.js') }}"></script>
      </head>

      <body>

        <header>
          <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark w3-theme-dark">
            <a class="navbar-brand" href="/">Rechercher un film <span class="sr-only">(current)</span></a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <span class="nav-link" href="#">BDD Films</span>
                </li>
                <!--<li class="nav-item">
                  <span class="nav-link" href="#">BDD Réalisateur</span>
                </li>-->
                <li class="nav-item">
                  <span class="nav-link" href="#">BDD Acteurs et Réalisateurs</span>
              </ul>
              <!--<form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>-->
            </div>
          </nav>
        </header>


      <div class="container-fluid ">
        <div class="row-sm-3 ">
          <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar w3-theme-light" style="text-align: center;">
                    
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}   

          </nav>
        </div>                
      </div>

    <div class="container-fluid  ">
      <div class="row-sm-9 w3-theme">
        <main role="main " class="col-sm-9 ml-sm-auto col-md-10 pt-3 ">

          <ul class="list-group  " style="margin-bottom: 2%  ">
              
            {% for movie in pagination %}

            <li data-toggle="modal" data-target="#myModal2" class="list-group-item w3-theme-light">
              <div class="row " style="padding-bottom: 2%">
                <div class="col-3">
                  <img src="{{ asset(movie.image) }}" class="img-fluid" alt="Responsive image"/>
                </div>
                <div class="col-3 w3-theme ">
                  <h1><a href="/movie/{{movie.id}}">{{movie.title}}</a></h1>
                  <h3>Réalisateur : <a href="/person/{{movie.director.id}}">{{movie.director.name}}</a></h2>
                  <h3>Acteurs : {% for actor in movie.actors %} <a href="/person/{{actor.id}}">{{actor.name}}</a>,  {% endfor %}</h2>
                  <h3>Année de parution : {{ movie.year|date('Y-m-d') }} </h2>
                </div>
                <div class="col-6">
                  {{ movie.synopsis }}
                </div>
              </div>
            </li>

            {% endfor %}
          
          </ul>

          <div class="navigation" style="margin-left: auto; margin-right: auto; width: 20%;">
            {{ knp_pagination_render(pagination) }}
          </div>

        </main>
      </div>
    </div>

  </body>
</html>
