<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title> FOUND EASILY </title>

    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}" />
  
    <script src="{{ asset('js/jquery-3.2.1.slim.min.js') }}"></script>
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/app_javascript.js') }}"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark w3-theme-dark">
            <a class="navbar-brand" href="/">Rechercher un film</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <span class="nav-link active" href="#">BDD Films</span>
                </li>
                <!--<li class="nav-item">
                  <span class="nav-link" href="#">BDD Réalisateur</span>
                </li>-->
                <li class="nav-item">
                  <span class="nav-link" href="#">BDD Acteurs et Réalisateurs</span>
              </ul>
              <!--<form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>-->
            </div>
        </nav>
    </header>

    <main role="main">

        <section class="jumbotron text-center" >

            <div class="container-fluid">
                <div class="row">
                    <div class="col-4-sm col-md-4 col-lg-4 col-xl-4">

                        <img src="{{ asset(movie.image) }}" class="img-fluid" alt="Responsive image" style="max-height: 300px;"/>

                    </div>
                    <div class="col-8-sm col-md-8 col-lg-8 col-xl-8">
                
                        <h1 class="jumbotron-heading">{{movie.title}}</h1>
                        <p class="lead text-muted">{{movie.synopsis}}</p>
                        <p>
                            {{movie.director.name}} - {{movie.type}}
                        </p>

                    </div>
                </div>
            </div>

        </section>

            <div class="container-fluid">
                <div class="row">
                    
                    <div class="col-6-sm col-md-6 col-lg-6 col-xl-6">
                         <h1>Acteurs principaux</h1>
                        
                    <ul class="list-group">

                    {% for actor in movie.actors %}

                    <li class="container-fluid list-group-item">
                        <div class="row">
                            <div class="col-3-sm col-md-3 col-lg-3 col-xl-3">

                                 <img src="{{ asset(actor.image) }}" class="img-fluid" alt="Responsive image" style="max-height: 150px; margin: 0 auto;">

                            </div>
                            <div class="col-9-sm col-md-9 col-lg-9 col-xl-9">
                        
                                <h1><a href="/person/{{actor.id}}">{{ actor.name }}</a></h1>

                            </div>
                        </div>
                    </li>

                   {% endfor %}
                    
                    </ul>

                    </div>

                    <div class="col-6-sm col-md-6 col-lg-6 col-xl-6">
                        
                         <h1> Films similaires </h1>

                    <ul class="list-group">

                    {% for same in sames %} 
                    {% if same.title != movie.title %}

                    <li class="container-fluid list-group-item">
                        <div class="row">
                            <div class="col-4-sm col-md-4 col-lg-4 col-xl-4">

                                 <img src="{{ asset(same.image) }}" class="img-fluid" alt="Responsive image" style="max-height: 150px; margin: 0 auto;">

                            </div>
                            <div class="col-8-sm col-md-8 col-lg-8 col-xl-8">
                        
                                <h1><a href="/movie/{{same.id}}">{{same.title}}</a></h1>

                            </div>
                        </div>
                    </li>

                   {% endif %}
                   {% endfor %}
                    
                    </ul>
                    
                    </div>
                    </div>
                </div>
            </div>

    </main>

</body>

</html>