<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title> FOUND EASILY </title>

    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}" />
  
        <script src="{{ asset('js/jquery-3.2.1.slim.min.js') }}"></script>
        <script src="{{ asset('js/popper.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/app_javascript.js') }}"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark w3-theme-dark">
            <a class="navbar-brand" href="/">Rechercher un film</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <span class="nav-link" href="#">BDD Films</span>
                </li>
                <!--<li class="nav-item">
                  <span class="nav-link" href="#">BDD Réalisateur</span>
                </li>-->
                <li class="nav-item active">
                  <span class="nav-link" href="#">BDD Acteurs et Réalisateurs</span>
              </ul>
              <!--<form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>-->
            </div>
        </nav>
    </header>

    <main role="main">

        
       <section class="jumbotron text-center">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-4-sm col-md-4 col-lg-4 col-xl-4">
                       <h1>Biographie</h1>

                       <p>{{ person.biography }}</p>

                    </div>

                    <div class="col-4-sm col-md-4 col-lg-4 col-xl-4">
                       <h1>{{ person.name }}</h1>
                        <img src="{{ asset(person.image) }}" class="img-fluid" alt="Responsive image" style="max-height: 300px; margin: 0 auto;">
                    </div>

                    <div class="col-4-sm col-md-4 col-lg-4 col-xl-4">
                     <h1>Informations personnelles</h1>

                        <h3>Connu en tant que</h3>
                        <p>
                            {% if person.type == "actor" %}
                                Acteur
                            {% elseif person.type == "both" %}
                                Acteur et Réalisateur
                            {% else %}
                                Réalisateur
                            {% endif %}
                        </p>

                        <h3>Né(e) le</h3>
                        <p>{{ person.birth|date('Y-m-d') }}</p>

                        {% if person.death != null %}
                        <h3>Mort(e) le</h3>
                        <p>{{ person.death|date('Y-m-d') }}</p>
                        {% endif %}

                        <!--

                        <h3>Site officiel</h3>
                        <p>http://www.tomcruise.com/</p>-->

                    </div>

                </div>
            </div>
        </section>






        <section class="jumbotron text-center">
            <div class="container-fluid">

                <div class="col-sm" align="center">
                        <h1>Réalisations</h1>
                </div>
                    
                <div class="row">

                {% set movies = person.movies|merge(person.directorMovies) %}

                {% for movie in movies %}

                    <div class="col-4-sm col-md-4 col-lg-4 col-xl-4">
                       <img src="{{ asset(movie.image) }}" class="img-fluid" alt="Responsive image" style="max-height: 300px; margin: 0 auto;">
                       <h1><a href="/movie/{{movie.id}}">{{movie.title}}</a></h1>
                    </div>

                {% endfor %}

                </div>
            </div>
        </section>

    </main>


</body>

</html>